
*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
}

::before,
::after {
    --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
    outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
    resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
    display: none;
}






*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

.ywcn-container {
    width: 100%;
}

@media (min-width: 640px) {
    .ywcn-container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .ywcn-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .ywcn-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .ywcn-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .ywcn-container {
        max-width: 1536px;
    }
}

input:focus {
    outline: none !important;
}

.ywcn-modal-box {
    opacity: 0;
    visibility: hidden;
    z-index: 1499;
}
.woo_popup_tools form.cart .quantity {
    margin-right: 16px;
}
.woo_popup_tools form.cart .quantity input{
    background: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 42px;
    border-radius: 3px;
            border:1px solid rgb(209 213 219 );
}
.woo_popup_tools form.cart .quantity input:focus{
    outline: none !important;
    box-shadow: none !important;
}
.woo_popup_tools form.cart{
    display: flex;
}
.woo_popup_tools form.cart .single_add_to_cart_button{
    padding: 8px 16px;
    min-width: 200px;
    background: #000;
    border-radius: 3px;
    
}

.ywcn-modal-box.active {
    opacity: 1;
    visibility: visible;
}

.\!ywcn-modal-box.\!active {
    display: flex;
}

.product-modal-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.6;
}

.product-modal-overlay.active {
    display: block;
}

.\!product-modal-overlay.\!active {
    display: block;
}

.product-modal-body {
    width: 100%;
    max-width: 980px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    text-align: left;
    vertical-align: middle;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.select_color input[type="radio"] + span {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.select_color input[type="radio"]:checked + span {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(31 41 55 / var(--tw-ring-opacity));
}

.select_size input[type="radio"] + span {
    width: 2.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.select_size input[type="radio"]:checked + span {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.d-check input[type="checkbox"]:checked ~ .ckbox {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.d-check input[type="checkbox"]:checked ~ .ckbox .iconify {
    display: block;
}



.fromGroup select, .fromGroup input {
    display: block;
    height: 51px;
    width: 100%;
    border-color: transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.fromGroup select:focus, .fromGroup input:focus {
    border-color: transparent;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.fromGroup input:focus ~ label, .fromGroup input:valid ~ label, .fromGroup select:valid ~ label, .fromGroup select:valid ~ label {
    top: 0px;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.fromGroup input:focus ~ .iborder, .fromGroup select:focus ~ .iborder {
    pointer-events: none;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.fromGroup label {
    pointer-events: none;
    position: absolute;
    left: 18px;
    top: 50%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 15px;
    --tw-text-opacity: 1;
    color: rgb(171 185 199 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.fromGroup .iborder {
    pointer-events: none;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(222 225 227 / var(--tw-border-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ywcn-pointer-events-none {
    pointer-events: none;
}

.ywcn-fixed {
    position: fixed;
}

.ywcn-absolute {
    position: absolute;
}

.ywcn-relative {
    position: relative;
}

.ywcn-inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.ywcn-top-0 {
    top: 0px;
}

.ywcn-left-\[18px\] {
    left: 18px;
}

.ywcn-top-1\/2 {
    top: 50%;
}

.ywcn-left-2 {
    left: 0.5rem;
}

.ywcn-right-2 {
    right: 0.5rem;
}

.ywcn--right-\[4px\] {
    right: -4px;
}

.ywcn--top-\[4px\] {
    top: -4px;
}

.ywcn-left-0 {
    left: 0px;
}

.ywcn-right-0 {
    right: 0px;
}

.ywcn-z-\[9999\] {
    z-index: 9999;
}

.ywcn-z-\[99\] {
    z-index: 99;
}

.ywcn-col-span-7 {
    grid-column: span 7 / span 7;
}

.ywcn-col-span-2 {
    grid-column: span 2 / span 2;
}

.ywcn-col-span-5 {
    grid-column: span 5 / span 5;
}

.ywcn-col-span-12 {
    grid-column: span 12 / span 12;
}

.ywcn-col-span-6 {
    grid-column: span 6 / span 6;
}

.ywcn-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ywcn-my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.ywcn-mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.ywcn-my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.ywcn-my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.ywcn--mx-6 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.ywcn-mb-10 {
    margin-bottom: 2.5rem;
}

.ywcn-mb-5 {
    margin-bottom: 1.25rem;
}

.ywcn-mr-2 {
    margin-right: 0.5rem;
}

.ywcn-mt-5 {
    margin-top: 1.25rem;
}

.ywcn-mb-6 {
    margin-bottom: 1.5rem;
}

.ywcn-mr-6 {
    margin-right: 1.5rem;
}

.ywcn-mb-2 {
    margin-bottom: 0.5rem;
}

.ywcn-mt-10 {
    margin-top: 2.5rem;
}

.ywcn-ml-2 {
    margin-left: 0.5rem;
}

.ywcn-ml-3 {
    margin-left: 0.75rem;
}

.ywcn-mb-4 {
    margin-bottom: 1rem;
}

.ywcn-mr-4 {
    margin-right: 1rem;
}

.ywcn-mr-3 {
    margin-right: 0.75rem;
}

.ywcn-block {
    display: block;
}

.ywcn-inline-block {
    display: inline-block;
}

.ywcn-flex {
    display: flex;
}

.ywcn-inline-flex {
    display: inline-flex;
}

.ywcn-table {
    display: table;
}

.ywcn-grid {
    display: grid;
}

.ywcn-hidden {
    display: none;
}

.ywcn-h-\[51px\] {
    height: 51px;
}

.ywcn-h-full {
    height: 100%;
}

.ywcn-h-4 {
    height: 1rem;
}

.ywcn-h-3 {
    height: 0.75rem;
}

.ywcn-h-7 {
    height: 1.75rem;
}

.ywcn-h-8 {
    height: 2rem;
}

.ywcn-h-\[150px\] {
    height: 150px;
}

.ywcn-min-h-full {
    min-height: 100%;
}

.ywcn-w-full {
    width: 100%;
}

.ywcn-w-9 {
    width: 2.25rem;
}

.ywcn-w-4 {
    width: 1rem;
}

.ywcn-w-3 {
    width: 0.75rem;
}

.ywcn-w-7 {
    width: 1.75rem;
}

.ywcn-w-8 {
    width: 2rem;
}

.ywcn-w-\[80px\] {
    width: 80px;
}

.ywcn-max-w-\[980px\] {
    max-width: 980px;
}

.ywcn-max-w-\[200px\] {
    max-width: 200px;
}

.ywcn-max-w-\[230px\] {
    max-width: 230px;
}

.ywcn-flex-1 {
    flex: 1 1 0%;
}

.ywcn-flex-none {
    flex: none;
}

.ywcn--translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ywcn-transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ywcn-cursor-pointer {
    cursor: pointer;
}

.ywcn-grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ywcn-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.ywcn-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.ywcn-content-start {
    align-content: flex-start;
}

.ywcn-items-start {
    align-items: flex-start;
}

.ywcn-items-end {
    align-items: flex-end;
}

.ywcn-items-center {
    align-items: center;
}

.ywcn-justify-center {
    justify-content: center;
}

.ywcn-justify-between {
    justify-content: space-between;
}

.ywcn-gap-10 {
    gap: 2.5rem;
}

.ywcn-gap-5 {
    gap: 1.25rem;
}

.ywcn-gap-3 {
    gap: 0.75rem;
}

.ywcn-space-y-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.ywcn-space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.ywcn-space-x-5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.ywcn-divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.ywcn-divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.ywcn-self-center {
    align-self: center;
}

.ywcn-overflow-hidden {
    overflow: hidden;
}

.ywcn-overflow-y-auto {
    overflow-y: auto;
}

.ywcn-text-ellipsis {
    text-overflow: ellipsis;
}

.ywcn-whitespace-nowrap {
    white-space: nowrap;
}

.ywcn-rounded-md {
    border-radius: 0.375rem;
}

.ywcn-rounded-\[5px\] {
    border-radius: 5px;
}

.ywcn-rounded {
    border-radius: 0.25rem;
}

.ywcn-rounded-full {
    border-radius: 9999px;
}

.ywcn-rounded-sm {
    border-radius: 0.125rem;
}

.ywcn-rounded-t-md {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.ywcn-border {
    border-width: 1px;
}

.ywcn-border-b {
    border-bottom-width: 1px;
}

.ywcn-border-t-2 {
    border-top-width: 2px;
}

.ywcn-border-none {
    border-style: none;
}

.ywcn-border-transparent {
    border-color: transparent;
}

.ywcn-border-blue-600 {
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

.ywcn-border-\[\#dee1e3\] {
    --tw-border-opacity: 1;
    border-color: rgb(222 225 227 / var(--tw-border-opacity));
}

.ywcn-border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.ywcn-border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.ywcn-border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.ywcn-border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.ywcn-bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.ywcn-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.ywcn-bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.ywcn-bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.ywcn-bg-transparent {
    background-color: transparent;
}

.ywcn-bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.ywcn-bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.ywcn-bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.ywcn-bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.ywcn-bg-pink-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}

.ywcn-bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.ywcn-bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 115 22 / var(--tw-bg-opacity));
}

.ywcn-object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.ywcn-p-5 {
    padding: 1.25rem;
}

.ywcn-p-6 {
    padding: 1.5rem;
}

.ywcn-p-4 {
    padding: 1rem;
}

.ywcn-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ywcn-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ywcn-px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px;
}

.ywcn-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ywcn-py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.ywcn-px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.ywcn-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ywcn-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ywcn-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ywcn-px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.ywcn-pb-1 {
    padding-bottom: 0.25rem;
}

.ywcn-pb-6 {
    padding-bottom: 1.5rem;
}

.ywcn-pt-3 {
    padding-top: 0.75rem;
}

.ywcn-pt-2 {
    padding-top: 0.5rem;
}

.ywcn-pb-3 {
    padding-bottom: 0.75rem;
}

.ywcn-pb-2 {
    padding-bottom: 0.5rem;
}

.ywcn-pt-4 {
    padding-top: 1rem;
}

.ywcn-pl-1 {
    padding-left: 0.25rem;
}

.ywcn-pt-7 {
    padding-top: 1.75rem;
}

.ywcn-pt-6 {
    padding-top: 1.5rem;
}

.ywcn-text-left {
    text-align: left;
}

.ywcn-text-center {
    text-align: center;
}

.ywcn-text-right {
    text-align: right;
}

.ywcn-align-middle {
    vertical-align: middle;
}

.ywcn-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.ywcn-text-\[13px\] {
    font-size: 13px;
}

.ywcn-text-\[16px\] {
    font-size: 16px;
}

.ywcn-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.ywcn-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.ywcn-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.ywcn-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.ywcn-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.ywcn-font-bold {
    font-weight: 700;
}

.ywcn-font-semibold {
    font-weight: 600;
}

.ywcn-font-medium {
    font-weight: 500;
}

.ywcn-uppercase {
    text-transform: uppercase;
}

.ywcn-capitalize {
    text-transform: capitalize;
}

.ywcn-leading-\[15px\] {
    line-height: 15px;
}

.ywcn-leading-6 {
    line-height: 1.5rem;
}

.ywcn-text-\[\#abb9c7\] {
    --tw-text-opacity: 1;
    color: rgb(171 185 199 / var(--tw-text-opacity));
}

.ywcn-text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.ywcn-text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.ywcn-text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.ywcn-text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

.ywcn-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ywcn-text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.ywcn-text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.ywcn-text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.ywcn-text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
}

.ywcn-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.ywcn-underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.ywcn-shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ywcn-ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ywcn-ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ywcn-ring-0 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ywcn-ring-black {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
}

.ywcn-ring-gray-200 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
}

.ywcn-ring-gray-900 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(17 24 39 / var(--tw-ring-opacity));
}

.ywcn-ring-offset-2 {
    --tw-ring-offset-width: 2px;
}

.ywcn-ring-offset-4 {
    --tw-ring-offset-width: 4px;
}

.ywcn-transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ywcn-duration-150 {
    transition-duration: 150ms;
}

.ywcn-duration-100 {
    transition-duration: 100ms;
}

.placeholder\:ywcn-capitalize::-moz-placeholder {
    text-transform: capitalize;
}

.placeholder\:ywcn-capitalize:-ms-input-placeholder {
    text-transform: capitalize;
}

.placeholder\:ywcn-capitalize::placeholder {
    text-transform: capitalize;
}

.placeholder\:ywcn-text-gray-500::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.placeholder\:ywcn-text-gray-500:-ms-input-placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.placeholder\:ywcn-text-gray-500::placeholder {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.first\:ywcn-pt-0:first-child {
    padding-top: 0px;
}

.hover\:ywcn-text-gray-700:hover {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.focus\:ywcn-border-none:focus {
    border-style: none;
}

.focus\:ywcn-border-transparent:focus {
    border-color: transparent;
}

.focus\:ywcn-border-blue-100:focus {
    --tw-border-opacity: 1;
    border-color: rgb(219 234 254 / var(--tw-border-opacity));
}

.focus\:ywcn-shadow-none:focus {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:ywcn-outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ywcn-ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

@media (min-width: 1280px) {
    .xl\:ywcn-ml-5 {
        margin-left: 1.25rem;
    }
}



.ywcn_woo_slider ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    justify-content: space-between;

}
.ywcn_woo_slider ol li {
    
    
    margin-bottom: 15px;
}

 .ywcn_woo_slider .woocommerce-product-gallery__image  img{
    width: 100%;
    object-fit: cover;
 }
 .ywcn_woo_slider .woocommerce-product-gallery
   {
    position: relative;

 }
 .ywcn_woo_slider .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1459;

 }
 .ywcn-col-span-12 {
     grid-column: span 12 / span 12;
 }

 @media (min-width: 1024px) {
     .lg\:ywcn-col-span-6 {
         grid-column: span 6 / span 6;
     }
 }